apiVersion: kubeadm.k8s.io/v1alpha3
kind: InitConfiguration
apiEndpoint:
  advertiseAddress: "{{ADV_ADDR}}"
  bindPort: 6443
bootstrapTokens:
- groups:
  - system:bootstrappers:kubeadm:default-node-token
  token: abcdef.0123456789abcdef
  ttl: 24h0m0s
  usages:
  - signing
  - authentication
nodeRegistration:
  criSocket: "{{CRI_SOCKET}}"
  name: {{KUBE_MASTER_NAME}}
  taints:
  - effect: NoSchedule
    key: node-role.kubernetes.io/master
---
apiVersion: kubeadm.k8s.io/v1alpha3
kind: ClusterConfiguration
apiServerExtraArgs:
  insecure-bind-address: "{{BIND_ADDR}}"
  insecure-port: "{{BIND_PORT}}"
  {{COMPONENT_FEATURE_GATES}}
{{APISERVER_EXTRA_ARGS}}
auditPolicy:
  logDir: /var/log/kubernetes/audit
  logMaxAge: 2
  path: ""
certificatesDir: /etc/kubernetes/pki
clusterName: kubernetes
controlPlaneEndpoint: ""
controllerManagerExtraArgs:
  {{COMPONENT_FEATURE_GATES}}
{{CONTROLLER_MANAGER_EXTRA_ARGS}}
etcd:
  local:
    dataDir: /var/lib/etcd
    image: ""
featureGates: {{FEATURE_GATES}}
imageRepository: k8s.gcr.io
kubernetesVersion: "{{KUBEADM_VERSION}}"
networking:
  dnsDomain: cluster.local
  {{POD_SUBNET_DISABLE}}podSubnet: "{{POD_NETWORK_CIDR}}"
  serviceSubnet: "{{SVC_SUBNET}}"
schedulerExtraArgs:
  {{COMPONENT_FEATURE_GATES}}
{{SCHEDULER_EXTRA_ARGS}}
unifiedControlPlaneImage: mirantis/hypokube:final
---
apiVersion: kubeproxy.config.k8s.io/v1alpha1
kind: KubeProxyConfiguration
bindAddress: 0.0.0.0
clientConnection:
  acceptContentTypes: ""
  burst: 10
  contentType: application/vnd.kubernetes.protobuf
  kubeconfig: /var/lib/kube-proxy/kubeconfig.conf
  qps: 5
clusterCIDR: "{{POD_NETWORK_CIDR}}"
configSyncPeriod: 15m0s
conntrack:
  max: null
  maxPerCore: 32768
  min: 131072
  tcpCloseWaitTimeout: 1h0m0s
  tcpEstablishedTimeout: 24h0m0s
enableProfiling: false
healthzBindAddress: 0.0.0.0:10256
hostnameOverride: ""
iptables:
  masqueradeAll: false
  masqueradeBit: 14
  minSyncPeriod: 0s
  syncPeriod: 30s
ipvs:
  excludeCIDRs: null
  minSyncPeriod: 0s
  scheduler: ""
  syncPeriod: 30s
metricsBindAddress: 127.0.0.1:10249
mode: ""
nodePortAddresses: null
oomScoreAdj: -999
portRange: ""
resourceContainer: /kube-proxy
udpIdleTimeout: 250ms
